.gradient-custom {
   
    background: #a181a2;
    
    background: -webkit-linear-gradient(to right, rgb(58, 96, 185), rgb(33, 187, 130));
    
    background: linear-gradient(to right, rgb(210, 210, 210), rgb(28, 20, 48))
    }
