.gradient-custom {
   
    background: #a181a2;
    
    background: -webkit-linear-gradient(to right, rgb(200, 226, 159), rgb(33, 187, 130));
    
    background: linear-gradient(to right, rgb(195, 179, 126), rgb(219, 102, 102))
    }
